<ng-container *ngIf="products$ | async as productResponse">
  <p-table [value]="productResponse.products">
    <ng-template pTemplate="header">
      <tr>
        <th>Brand</th>
        <th>Title</th>
        <th>Year</th>
        <th>Azioni</th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-product>
      <tr>
        <td>{{ product.brand }}</td>
        <td>{{ product.title }}</td>
        <td>{{ product.year }}</td>
        <td>
          <button pButton label="Dettaglio" (click)="openModalAndSetSelectedProduct(product)"></button>
        </td>
      </tr>
    </ng-template>

    <ng-template pTemplate="emptymessage">
      <tr>
        <td>Non ci sono risultati</td>
      </tr>
    </ng-template>

    <ng-template pTemplate="footer">
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td>footer</td>
      </tr>
    </ng-template>
  </p-table>
</ng-container>

<p-dialog [style]="{ height: '40vh', width: '60vw' }" [modal]="true" header="Title" [(visible)]="showModal">
  <ng-container *ngIf="selectedProduct">
    <h3>{{ selectedProduct.brand }} - {{ selectedProduct.title }}</h3>
    <p>
      {{ selectedProduct.description }}
    </p>
    <img [src]="selectedProduct.images[0]" alt="" />
  </ng-container>
</p-dialog>
