<div class="card">
  <ng-content select="[title]"></ng-content>

  <ng-content select="[content]"></ng-content>

  <div class="footer" *ngIf="showFooter">
    <button (click)="dismissBtn.emit(true)" pButton label="Dismiss"></button>
  </div>
</div>
