<ng-template #templateErrori let-errors>
  <ng-container *ngIf="errors.required"> <small class="p-error block"> Campo obbligatorio </small> <br /> </ng-container>
  <ng-container *ngIf="errors.containsNonLetters"> <small class="p-error block"> Solo lettere e numeri </small><br /> </ng-container>
  <ng-container *ngIf="errors.email"> <small class="p-error block"> Non è un'email </small><br /> </ng-container>
</ng-template>

<p-card header="Signup" [formGroup]="form">
  <div class="field">
    <input placeholder="Username*" pInputText formControlName="username" type="text" /><br />

    <ng-container *ngIf="usernameCtrl.errors && usernameCtrl.dirty">
      <ng-container [ngTemplateOutlet]="templateErrori" [ngTemplateOutletContext]="{ errors: usernameCtrl.errors }"> </ng-container>
    </ng-container>
  </div>

  <div class="field">
    <input placeholder="Email" pInputText formControlName="email" type="email" /><br />
    <ng-container *ngIf="emailCtrl.errors && emailCtrl.dirty">
      <ng-container [ngTemplateOutlet]="templateErrori" [ngTemplateOutletContext]="{ errors: emailCtrl.errors }"> </ng-container>
    </ng-container>
  </div>

  <ng-container formGroupName="anagrafica">
    <input placeholder="Età*" pInputText type="number" formControlName="eta" />
    <input placeholder="Nome" pInputText type="text" formControlName="nome" />
    <input placeholder="Cognome" pInputText type="text" formControlName="cognome" />
    <input placeholder="Codice Fiscale" pInputText type="text" formControlName="cf" />
  </ng-container>

  <ng-container formGroupName="indirizzo">
    <input placeholder="Via" pInputText type="text" formControlName="via" />
    <input placeholder="Città" pInputText type="text" formControlName="citta" />
    <input placeholder="CAP" pInputText type="text" formControlName="cap" />
  </ng-container>
  <br />

  <ng-container *ngFor="let item of form.controls | keyvalue">
    {{ item.key }} ha i seguenti errori {{ item.value.errors | json }}<br />
  </ng-container>

  <button [disabled]="form.invalid" pButton>Submit</button>
</p-card>

<code>
  <pre>
        {{ form.value | json }}
    </pre
  >
</code>
