<ng-template #selectableButton>
  <p-button (click)="selectProduct(product)" [label]="'Seleziona'" [icon]="'pi pi-check'"></p-button>
</ng-template>

<p-card [header]="product.title" [subheader]="product.category" [style]="{ width: '360px' }" styleClass="p-card-shadow">
  <ng-template pTemplate="header">
    <img alt="Card" [src]="product.images[0]" />
  </ng-template>
  <p>
    {{ product.description }}
  </p>
  <p>{{ product.price }}€</p>
  <ng-template pTemplate="footer">
    <ng-container *ngIf="cs.cart$ | async | isInCart: product; else selectableButton">
      <p-button (click)="deselectProduct(product)" [label]="'Deseleziona'" [icon]="'pi pi-times'"></p-button>
    </ng-container>
  </ng-template>
</p-card>
<br />
