<!-- <custom-input (valoreCambiato)="valoreCambiatoHandler($event)" [numero]="numeroACaso"></custom-input> -->
<p-card header="Login" [formGroup]="loginForm">
  <div>
    <input formControlName="username" pInputText placeholder="Username" type="text" />
    <div *ngIf="usernameCtrl.errors as errors">
      <ng-container *ngIf="errors['required']"> Campo obbligatorio </ng-container>
      <ng-container *ngIf="errors['email']"> Il dato immesso non è un'email </ng-container>
    </div>
  </div>
  <div>
    <p-password formControlName="password"></p-password>
    <!-- <input formControlName="password" pInputText placeholder="Password" type="password" /> -->
  </div>
  <button [disabled]="loginForm.invalid" (click)="login()">Effettua Login</button>
</p-card>

<code>
  <pre>
    {{ loginForm.value | json }}
  </pre>
</code>
