<ng-container *ngIf="user$ | async as user">
  <p-card
    [header]="'Benvenuta ' + user.firstName + ' ' + user.lastName"
    [subheader]="user.email"
    [style]="{ width: '360px' }"
    styleClass="p-card-shadow"
  >
    <ng-template pTemplate="header">
      <img alt="Card" src="assets/logo.png" />
    </ng-template>
    <p>
      {{ user.userAgent }}
    </p>
    <ng-template pTemplate="footer">
      <p-button label="Save" icon="pi pi-check"></p-button>
      <p-button
        [routerLink]="'/login'"
        label="Cancel"
        icon="pi pi-times"
        styleClass="p-button-secondary"
        [style]="{ 'margin-left': '.5em' }"
      ></p-button>
    </ng-template>
  </p-card>
</ng-container>
