<div [formGroup]="form">
  <div>
    <input placeholder="Nuova variabile" type="text" formControlName="nuovaVariabile" pInputText />
  </div>
  <div>
    <button [disabled]="form.controls['nuovaVariabile'].invalid" (click)="addVariable()" pButton label="Aggiungi variabile"></button>
  </div>

  <hr />
  <div formArrayName="variabiliUtente" *ngFor="let variableFg of variabiliUtente.controls; let i = index">
    <div [formGroupName]="i">
      <div>
        Nome variabile: <strong>{{ variableFg.value.label }}</strong>
      </div>
      <div>
        <input pInputText type="number" formControlName="value" />
      </div>
    </div>
  </div>

  <hr />

  <input placeholder="Formula" pInputText formControlName="formula" type="text" />
</div>
