<div class="header">
  <button (click)="showSidebar = true" icon="pi pi-bars" pButton pRipple type="button" label="Menu" class="p-button-text"></button>

  <div class="selected-product" *ngIf="cs.cart$ | async as cart">
    <button [routerLink]="'./cart'" class="p-button-text" pButton icon="pi pi-shopping-cart" [label]="'' + cart.length"></button>
  </div>
</div>

<p-sidebar [(visible)]="showSidebar">
  <div class="p-grid">
    <div class="p-col-12">
      <button
        label="Dashboard"
        [routerLink]="'/dashboard'"
        (click)="showSidebar = false"
        icon="pi pi-user"
        pButton
        pRipple
        type="button"
        class="p-button-text"
      ></button>
    </div>
  </div>
  <div class="p-grid">
    <div class="p-col-12">
      <button
        label="Profilo"
        [routerLink]="'./profile'"
        (click)="showSidebar = false"
        icon="pi pi-user"
        pButton
        pRipple
        type="button"
        class="p-button-text"
      ></button>
    </div>
  </div>
  <div class="p-grid">
    <div class="p-col-12">
      <button
        label="Profilo Risolto"
        [routerLink]="'./profile-resolved'"
        (click)="showSidebar = false"
        icon="pi pi-user"
        pButton
        pRipple
        type="button"
        class="p-button-text"
      ></button>
    </div>
  </div>
  <div class="p-grid">
    <div class="p-col-12">
      <button
        label="Prodotti"
        [routerLink]="'./products'"
        (click)="showSidebar = false"
        icon="pi pi-shopping-cart"
        pButton
        pRipple
        type="button"
        class="p-button-text"
      ></button>
    </div>
  </div>
  <div class="p-grid">
    <div class="p-col-12">
      <button
        label="User Input"
        [routerLink]="'./user-input'"
        (click)="showSidebar = false"
        icon="pi pi-pencil"
        pButton
        pRipple
        type="button"
        class="p-button-text"
      ></button>
    </div>
  </div>
  <div class="p-grid">
    <div class="p-col-12">
      <button
        label="Users"
        [routerLink]="'./users'"
        (click)="showSidebar = false"
        icon="pi pi-pencil"
        pButton
        pRipple
        type="button"
        class="p-button-text"
      ></button>
    </div>
  </div>
</p-sidebar>

<div class="app-content">
  <router-outlet></router-outlet>
</div>

<!-- 
<app-card>
  <ng-container title>
    <h1>Benvenuto nella dashboard principale</h1>
    <p>Sono il content</p>
  </ng-container>
</app-card>
<br /><br />
<div class="row">
  <div class="col">
    <app-card [showFooter]="false">
      <h3 title>VENDITE</h3>
      <p content>-20%</p>
    </app-card>
  </div>
  <div class="col">
    <app-card [showFooter]="false">
      <h3 title>ACQUISTI</h3>
      <p content>+30%</p>
    </app-card>
  </div>
</div> -->
<!-- 
<ng-container [formGroup]="filterForm">
  <input formControlName="product" pInputText placeholder="Filtra per nome prodotto" type="text" />
</ng-container> -->

<!-- <div class="flights">
  <div class="flight" *ngFor="let flight of MOCKED_FLIGHTS">
    <h4>Partenza: {{ flight.partenza }}</h4>
    <h4>Destinazione: {{ flight.arrivo }}</h4>
    <p>Durata volo: {{ flight.durata | time }}</p>
  </div>
</div> -->
<!-- 
<table>
  <thead>
    <tr>
      <th>Brand</th>
      <th>Nome</th>
      <th>Prezzo</th>
      <th>Immagine</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of products$ | async">
      <td>
        {{ product.brand }}
      </td>
      <td>{{ product.title }}</td>
      <td title="price" appHover>{{ product.price }}€</td>
      <td>
        <img appHover [src]="product.images[0]" alt="" />
      </td>
    </tr>
  </tbody>
</table>

<strong>
  {{ highestPrice }}
</strong> -->
