.header {
  height: 50px;
  width: 100%;
  position: fixed;
  z-index: 99;
  top: 0;
  background-color: white;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3);

  & .selected-product {
    height: 50px;
    width: 200px;
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}
.app-content {
  margin-top: 50px;
  padding: 1rem;
}
