<ng-template #loading>
  <i class="pi pi-spin pi-spinner" style="font-size: 2rem"></i>
</ng-template>

<ng-container *ngIf="products$ | async as productResponse; else loading">
  <ng-container *ngFor="let product of productResponse.products">
    <app-product-card [product]="product"></app-product-card>
  </ng-container>
</ng-container>
